.libraryGrid {
    display: grid;

    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);

    justify-items: center;
    align-items: center;
}

#bookForm {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    width: 400px;
    height: 420px;

    padding: 10px;

    /* TODO round corners */
}

#bookForm #close-button {
    width: 30px
}

#bookForm #submitBtn {
    background-color: lightgreen;
    /* TODO move submit button to the right */
}

.book {
    padding: 10px;
    margin: 5px;

    width: 250px;

    border: solid black 5px;
    border-radius: 20px;

    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    /* TODO make into 3 column grid, X, main content, read checkbox */

}

.deleteBtn {
    background-color: red;
}

#openDialog {
    border-radius: 500PX;
    margin: 10px;
    ;

    height: 120px;
    width: 120px;

    background-color: lightslategrey;
    color: black;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

#openDialog:hover {
    background-color: green;
}