.libraryGrid {
    display: grid;

    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);

    justify-items: center;
    align-items: center;
}

#bookDialog {
    border-radius: 20px;
    border: 2px solid black;

    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#bookForm {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    width: 400px;
    height: 420px;

    padding: 10px;
}

#bookForm #close-button {
    width: 30px
}

#bookForm #submitBtn {
    background-color: lightgreen;
    /* TODO move submit button to the right */
}

.book {
    padding: 10px;
    margin: 5px;

    width: 250px;

    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 1fr 1fr .5fr;
    border: solid black 2px;
    border-radius: 20px;

    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    /* TODO make into 3 column grid, X, main content, read checkbox */

}

.book button {
    width: 30px;
    height: 30px;

    justify-self: center;
    align-self: center;
}

.book p {
    grid-column: 2;
}

.book label {
    grid-column: 2;
    grid-row: 4;

    justify-self: end;
}

.book input {
    grid-column: 3;
    grid-row: 4;

    justify-self: center;
    align-self: start;
}


.deleteBtn {
    background-color: lightgray;
    border: 1px solid black;
}

#openDialog {
    border-radius: 500PX;
    margin: 10px;

    height: 120px;
    width: 120px;

    background-color: lightslategrey;
    color: black;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

#openDialog:hover {
    background-color: green;
}